html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*--------------------------------------loading---------------------------------------*/

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading svg {
  font-size: 5px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: text 1s ease-in-out infinite;
}
@keyframes text {
  50% {
    opacity: 0.1;
  }
}
.loading polygon {
  stroke-dasharray: 22;
  stroke-dashoffset: 1;
  animation: dash 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    alternate-reverse;
}
@keyframes dash {
  to {
    stroke-dashoffset: 234;
  }
}

/*----------------------------------products----------------------------------*/

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  justify-content: center;
  margin: 20px 0;
}
.products .card {
  margin: 10px auto;
}
.products .card-img-top {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.products .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.products .card-text {
  height: 70px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/*------------------------detail_product--------------------------*/

.detail_product .img-thumbnail.active {
  border: 3px solid crimson;
}
